<template name="custom_header">
  <header class="header {{headerClass}}">

    <a href="#menu" class="mobile-only mobile-menu-button button">
      {{{icon "menu"}}}
    </a>

    {{#unless isExentriqSupport}}
      {{#if backToEmaUrl}}
        <a href="{{backToEmaUrl}}">
          <i class="fa fa-chevron-left fa-2x"></i>
        </a>
      {{/if}}
    {{/unless}}

    {{> logo}}

    {{#if showFullNav }}
      {{#if hasPrimaryNav}}
        {{> modules zone="primaryNav" zoneClass="nav primary-nav desktop-nav header-module desktop-only" moduleClass="header-submodule"}}
      {{/if}}

      {{#if hasSecondaryNav}}
        {{> modules zone="secondaryNav" zoneClass="nav secondary-nav desktop-nav header-module desktop-only" moduleClass="header-submodule"}}
      {{/if}}
    {{/if}}

  </header>
</template>
